# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Shield upstream files from merges (keeps them deleted/ignored)
Jenkinsfile merge=ours
jenkins-vars.yml merge=ours
.github/workflows/call_issue_pr_tracker.yml merge=ours
.github/workflows/call_issues_cron.yml merge=ours
.github/workflows/external_trigger_scheduler.yml merge=ours
.github/workflows/external_trigger.yml merge=ours
.github/workflows/greetings.yml merge=ours
.github/workflows/package_trigger_scheduler.yml merge=ours
.github/workflows/permissions.yml merge=ours
